<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order, <%= current_user.email %></h4>
    <p>Your total is <%= humanized_money_with_symbol (@total/100.0) %></p>
    <p>The following item(s) will be en route shortly:</p>
    <ul>
      <%= render :partial => 'line_item', :collection => @order.line_items %>
    </ul>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
